@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*Placeholder for phone screen just to organise it in a phones format*/
.screen {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

/*Header class*/
.title {
    text-align: center;
    font-size: x-large;
    border-bottom: solid black 1px;
    margin: 10px 10px;
}

.tableobj{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.subTitle {
    text-align: center;
    font-size: large;
    border-bottom: solid black 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Alignment classes*/
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spacer1 {
    margin-left: 10px;
    margin-right: 10px;
}

.spacer2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.left {
    align-items: start;
    margin-left: 10px;
}

.right {
    align-items: end;
    margin-right: 10px;
}


/*Navigation Buttons*/
.navBut {
    margin-top: 20px;
    width: 175px;
    height: 60px;
    text-align: center;
    font-size: large;
    background-color: rgb(255, 255, 255);
    border: #555555 solid 1px;
    transition: 0.3s;
}

.navBut:hover{
    background-color:#555555;
    color: white;
}

.navBut:active{
    transition: 0s;
    color: white;
    border-color: black;
    background-color: black;
}

.sNavBut {
        width: 50px;
        height: 50px;
        margin: 20px 50px;
}

/*Text box*/
.inputText{
    margin-top: 0px;
    width: 175px;
    height: 20px;
    font-size: medium;
    outline: none;
    border: none;
    border-bottom: solid #555555 1px;
    transition: 0.1s;
}

.inputText:focus{
    border: none;
    border-bottom: 3px solid #555;
}

/*Checkbox red blue and grey*/
.checkboxR {
        width: 40px;
        height: 40px;
        appearance: none;
        border: solid #f44336 2px;
        background-color: white;
        cursor: pointer;
}

.checkboxR:checked{
    background-color: #f44336;
}

.checkboxB{
    width: 40px;
    height: 40px;
    appearance: none;
    border: solid #008CBA 2px;
    background-color: white;
    cursor: pointer;
}

.checkboxB:checked{
    background-color: #008CBA;
}

.checkboxY{
    width: 40px;
    height: 40px;
    appearance: none;
    border: solid #fdf500 2px;
    background-color: white;
    cursor: pointer;
}

.checkboxY:checked{
    background-color: #fdf500;
}

.checkboxLongR{
    width: 80px;
    height: 40px;
    appearance: none;
    border: solid #f44336 2px;
    background-color: white;
    cursor: pointer;
}

.checkboxLongR:checked{
    color: white;
    background-color: #f44336;
}

.checkboxLongB{
    width: 80px;
    height: 40px;
    appearance: none;
    border: solid #008CBA 2px;
    background-color: white;
    cursor: pointer;
}

.checkboxLongB:checked{
    color: white;
    background-color: #008CBA;
}

.titleDef {
    display: flex;
    flex: 1;
    align-content:center;
    text-align: center;
    justify-content: center;
}

.checkboxG{
    width: 40px;
    height: 40px;
    appearance: none;
    border: solid #555555 2px;
    background-color: white;
    cursor: pointer;
}

.checkboxG:checked{
    color: white;
    background-color: #555555;
}

/*Checkbox spacer*/
.checkboxSpacer{
    margin: 10px;
}

/*Tally Box Settings*/
.tallyButton{
    width: 40px;
    height: 40px;
    border: solid #555555 1px;
    border-radius: 10px;
    background-color: white;
    margin: 0px 5px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: medium;
}

.tallyButton:active{
    background-color: #000000;
    color: white;
}

.counter{
    width: 70px;
    height: 40px;
    display: flex;
    border: solid #555555 1px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
